@font-face {
  font-family: 'Julius Sans One';
  src: url('JuliusSansOne-Regular.woff2') format('woff2'),
    url('JuliusSansOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-Bold.woff2') format('woff2'), url('-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-BoldItalic.woff2') format('woff2'),
    url('-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-BlackItalic.woff2') format('woff2'),
    url('-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-Black.woff2') format('woff2'), url('-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-Italic.woff2') format('woff2'), url('-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-LightItalic.woff2') format('woff2'),
    url('-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-Light.woff2') format('woff2'), url('-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-ThinItalic.woff2') format('woff2'),
    url('-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-Medium.woff2') format('woff2'), url('-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-Thin.woff2') format('woff2'), url('-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-MediumItalic.woff2') format('woff2'),
    url('-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('-Regular.woff2') format('woff2'),
    url('-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
